@{
  Layout = "_Layout";
}

@model FactoryManager.Models.Machine

<header>
  <h1>Create new Machine</h1>
</header>

<main>
  <div class="form">
    @using (Html.BeginForm())
    {
      <div class="form-group ml-6">
        @Html.LabelFor(model => model.ModelName)
        @Html.TextBoxFor(model => model.ModelName, new { required = true})
      </div>
      <div class="form-group ml-6">
        @Html.LabelFor(model => model.Details)
        @Html.TextBoxFor(model => model.Details)
      </div>
      <input type="submit" value="Add new Machine" class="btn-success" />
    }
  </div>
</main>

<footer class="footer">
  @Html.ActionLink("Back", "Index")
</footer>