@{
  Layout = "_Layout";
}

@model FactoryManager.Models.Machine

<header>
  <h2>Machine details:</h2>
</header>
<main>
  <hr />
  <h3>@Html.DisplayFor(model => model.ModelName): @Html.DisplayFor(model => model.Details)</h3>

  @if (Model.EngineerMachines.Count == 0)
  {
    <p>This Machine does not belong to any Engineers</p>
  }
  else
  {
    <h4>Engineers who operate on this machine: </h4>
    <ul>
      @foreach (var em in Model.EngineerMachines)
      {
        @Html.ActionLink($"{@em.Engineer.Name}", "Details", "Engineers", new { id = @em.EngineerId })
        <br>
      }
    </ul>
  }
</main>
<footer class="footer">
  @Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })
  @Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })
</footer>