@{
  Layout = "_Layout";
}

@model FactoryManager.Models.Machine

<header>
  <h4>Edit this Machine: @Html.DisplayFor(model => model.ModelName)</h4>
</header>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.ModelName)
  @Html.EditorFor(model => model.ModelName)
  @Html.LabelFor(model => model.Details)
  @Html.EditorFor(model => model.Details)
  <hr>
  <h3>Change/Add Engineer</h3>
  @Html.DropDownList("EngineerId")
  <input type="submit" value="Save" />
}
<hr>
<h3>Delete Engineer</h3>
<ul class="form-inline">
  @foreach (var em in Model.EngineerMachines)
  {
    @using (Html.BeginForm("DeleteEngineer", "Machines", new { id = Model.MachineId }))
    {
      <div class="form-group ml-4">
        @em.Engineer.Name
        @Html.Hidden("engineerMachineId", @em.EngineerMachineId)
        <input type="submit" value="x" />
      </div>
    }
  }
</ul>
<footer class="footer">
  @Html.ActionLink("Back", "Index")
</footer>