@{
  Layout = "_Layout";
}

@model FactoryManager.Models.Engineer

<header>
  <h2>Engineer details:</h2>
</header>
<main>
  <hr />
  <h3>@Html.DisplayFor(model => model.Name): @Html.DisplayFor(model => model.Details)</h3>

  @if (Model.EngineerMachines.Count == 0)
  {
    <p>This Engineer does not operate on any machines</p>
  }
  else
  {
    <h4>Machines this engineer operates on: </h4>
    <ul>
      @foreach (var em in Model.EngineerMachines)
      {
        @Html.ActionLink($"{@em.Machine.ModelName}", "Details", "Machines", new {id = em.MachineId})
      }
    </ul>
  }
</main>
<footer class="footer">
  @Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })
  @Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })
</footer>
