@{
  Layout = "_Layout";
}

@using FactoryManager.Models

<main class="row">
  <div class="col-sm-6 text-center">
    <h4>Engineers</h4>
    @if (@Model["engineers"].Count == 0)
    {
      @Html.ActionLink("Add New Engineer", "Create", "Engineers")
    }
    else
    {
      <ul>

        @foreach (Engineer e in @Model["engineers"])
        {
          @Html.ActionLink($"{e.Name}", "Details", "Engineers", new { id = e.EngineerId})
          <br>
        }
      </ul>
    }
  </div>
  <div class="col-sm-6 text-center">
    <h4>Machines</h4>
    @if (@Model["machines"].Count == 0)
    {
      @Html.ActionLink("Add New Machine", "Create", "Machines")
    }
    else
    {
      <ul>
        @foreach (Machine m in @Model["machines"])
        {
          @Html.ActionLink($"{m.ModelName}", "Details", "Machines", new { id = m.MachineId})
          <br>
        }
      </ul>
    }
  </div>
</main>
